/*
 * fsBrandS2 style
 * author: zx;
 * date: 2019-07-08;
 */

html{
	height: 100%;
}

body{
	padding: 0;
	margin: 0;
	background: url("../img/back.png") no-repeat;
	background-size: 100% 100%;
	text-align: center;
	position: relative;
}


input.fspCheckBox{
	-webkit-appearance: none;
    width: 17px!important;
    height: 17px!important;
    display: inline-block;
    margin: -3px 5px 0 0 !important;
    cursor: pointer;
    vertical-align: middle;
    border-radius: 0px;
    background: url(../img/unchecked.png) no-repeat;
    outline: none;
}

input.fspCheckBox:checked {
	background: url(../img/checked.png) no-repeat;
}

input.fspCheckBox:focus{
	outline: none;
}

.col-xs-4,.col-xs-3{
	padding-left: 5px;
	padding-right: 5px;
	text-align: left;
}

.col-xs-3{
	padding-left: 0 ! important;
}  

.fspCheckBox{
	float: right;
    position: relative;
}


.container{
	width:95%;
}


.fspPIC{
	width: 90%;
}


/***************tabs************/
.fspPIC-tab{
	width: 95%;
	display: block;
}

#tabs-container {
	height:100%;
}

.tabs {
	background-color:#0386cc;
	background-size:auto 100%;
	width:100%;
	border-radius: 8px;
	overflow:hidden;
}

.tabs a {
	font-weight:normal;
	text-align:center;
	float:left;
	border-radius: 8px;
}

.tabs a.active {
	background-color:#223a5e;
}

.tabx{
	border-radius: 8px;
}

.progress {
    height: 10px;
    font-size: 8px;
    width: 90%;
    overflow: hidden;
    background-color: rgba(212, 212, 212, 0.42);
    border-radius: 2px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    margin-left: 5px;
    margin-right: 5px; 
    margin-bottom: 5px;
}

.progress-bar {
    font-size: 8px;
    line-height: 10px;
    background-color: #ad3333;
}

/***************End of tabs************/



/* 投票列表项  */
.list-group{
	overflow-y: auto; 
}

.list-group::-webkit-scrollbar{
	width: 6px;
}

.list-group::-webkit-scrollbar-thumb{
	border-radius: 5px;
	-webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
	background: rgba(0,0,0,0.2);
	scrollbar-arrow-color:red
}

.list-group::-webkit-scrollbar-track{
	background: rgba(0,0,0,0.1);
}

.list-group-item{
	height: 55px;
	border-radius: 8px ! important;
    margin-bottom: 8px;
    background-color: rgba(255,255,255,0.3);
}

.list-item-order{
	width: 20px;
    height: 20px;
    border: 2px solid #223a5e;
    border-radius: 50%;
    padding: 1px 0px;
    font-size: 10px;
    font-weight: 600;
    position: absolute;
    top: 2px;
    left: 2px;
    color: #223a5e;
    z-index: 888;
}

.list-item-picholder{
	width: 50px;
	height: 40px;
    position: absolute;
    top: 7px;
}

.list-item-picholder-in{
	width: 100%;
	height: 100%;
	opacity: 0.9;
	z-index: 10;
}

.list-item-title{
    text-align: left;
    font-weight: 600;
    z-index: 500;
    position: absolute;
    left: 68px;
    width: 240px;
}

.list-item-Num{
	display: block;
    position: absolute;
    left: 68px;
    top: 25px;
}

.list-item-NumX{
	display: block;
    position: absolute;
    left: 68px;
    top: 50px;
}

.confirmVote{
	font-size: 20px;
    width: 80%;
    left: 35px;
}
/*************End of 投票列表项************/



/*****************悬浮挂件****************/
.floatitems{
	position: absolute;
    border-radius: 50%;
    height: 36px;
    width: 36px;
    font-size: 16px;
    padding: 9px;
    outline: none;
    border: 0px;
    color: #ededed;
    z-index:1000;
}

#showAwards{
    height: 45px;
    width: 45px;
    font-size: 21px;
    padding: 11px;
    float: left;
    left: 10px;
    top: 44px;
    background-color: #b92c28;
}

#showRules{
    float: right;
    right: 15px;
    top: 20px;
    background-color: #223a5e;
}

#showRanks{
    float: right;
    right: 15px;
    top: 65px;
    background-color: #188ae2;
}


/*************End of 悬浮挂件************/

/*costume modal*/
.modal-dialog{
	margin-top: 10%;
	border: 0;
}

.modal-content{
	background-color: rgba(0,0,0,0.8);
	border-radius: 0px;
	color: #fff;
	text-align: left;
	padding: 10px;
}

#introcontent{
	width: 100%;
	background-color: transparent;
	border: 0;
	color: #fff;
	overflow-y: auto;
	outline: none;
}
.introdetail{
	color: #ededed;
}

.modal-footer{
	text-align: center;
	border-top: 0;
}

.infobtn{
	display: inline-block;
}



.info{
	font-size: 18px;
	height: 45px;
	background-color: rgba(255,255,255,0.4);
	color: #fff;
	outline: none;
	border-radius: 0px;
}

#getnewcode{
	margin-top: 10px;
    margin-left: -10px;
    background: transparent;
    border: 0;
    outline: none;
    font-size: 18px;
}

.table>tbody>tr>td{
	vertical-align:middle ! important;
	text-align: center ! important;
}

#s1l1rank-content,#s1l2rank-content{
	overflow-y: auto; 
}

.fspPIC-x-c{
	width: 10px;
	height: 28px;
}


.carousel-indicators {
    bottom: -30px;
}