/*
 * fsBrandS2 style
 * author: zx;
 * date: 2019-07-08;
 */

html{
	height: 100%;
}

body{
	padding: 0;
	margin: 0;
	background: url("../img/back.png") no-repeat;
	background-size: 100% 100%;
	text-align: center;
	position: relative;
}


input.fspCheckBox{
	-webkit-appearance: none;
    width: 17px!important;
    height: 17px!important;
    display: inline-block;
    margin: -3px 5px 0 0 !important;
    cursor: pointer;
    vertical-align: middle;
    border-radius: 0px;
    background: url(../img/unchecked.png) no-repeat;
    outline: none;
}

input.fspCheckBox:checked {
	background: url(../img/checked.png) no-repeat;
}

input.fspCheckBox:focus{
	outline: none;
}

.col-xs-4,.col-xs-3{
	padding-left: 5px;
	padding-right: 5px;
	text-align: left;
}

.col-xs-3{
	padding-left: 0 ! important;
}  

.fspCheckBox{
	float: right;
    position: relative;
}


.container{
	width:95%;
}


.fspPIC{
	width: 100%;
	margin-bottom: 5px;
}


/***************tabs************/
.fspPIC-tab{
	width: 95%;
	display: block;
}

#tabs-container {
	height:100%;
}

.tabs {
	background-color:#0386cc;
	background-size:auto 100%;
	width:100%;
/*	height:55px;*/
	overflow:hidden;
}

.tabs a {
	font-weight:normal;
	text-align:center;
	float:left;
/*	line-height:55px;*/
}

.tabs a.active {
	background-color:#223a5e;
}


.progress {
    height: 12px;
    font-size: 8px;
    width: 90%;
    overflow: hidden;
    background-color: rgba(212, 212, 212, 0.42);
    border-radius: 2px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    margin-left: 5px;
    margin-right: 5px; 
    margin-bottom: 5px;
}

.progress-bar {
    font-size: 10px;
    line-height: 12px;
    background-color: #ad3333;
}

/***************End of tabs************/



/* 投票列表项  */
.accordion{
	overflow-y: auto; 
}

.accordion::-webkit-scrollbar{
	width: 6px;
}

.accordion::-webkit-scrollbar-thumb{
	border-radius: 5px;
	-webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
	background: rgba(0,0,0,0.2);
	scrollbar-arrow-color:red
}

.accordion::-webkit-scrollbar-track{
	background: rgba(0,0,0,0.1);
}


.accordion-group{
	margin-bottom: 2px;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 2px;
}
.accordion-heading{
	height: 30px;
}





/*     悬浮挂件        */
.floatplugin{
    position: absolute;
    float: left;
    top: 35px;
    left: 0px;
    color: #fff;
    background-color: #223a5e;
    padding-left: 5px;
    padding-right: 2px;
    z-index:1000;
}


/*costume modal*/
.modal-dialog{
	margin-top: 10%;
	border: 0;
}

.modal-content{
	background-color: rgba(0,0,0,0.8);
	border-radius: 0px;
	color: #fff;
	text-align: left;
	padding: 10px;
}

#introcontent{
	width: 100%;
	background-color: transparent;
	border: 0;
	color: #fff;
	overflow-y: auto;
	outline: none;
}
.introdetail{
	color: #ededed;
}

.modal-footer{
	text-align: center;
	border-top: 0;
}

.infobtn{
	display: inline-block;
}



.info{
	font-size: 18px;
	height: 45px;
	background-color: rgba(255,255,255,0.4);
	color: #fff;
	outline: none;
	border-radius: 0px;
}

#getnewcode{
	margin-top: 10px;
    margin-left: -10px;
    background: transparent;
    border: 0;
    outline: none;
    font-size: 18px;
}

.table>tbody>tr>td{
	vertical-align:middle ! important;
	text-align: center ! important;
}

#s1l1rank-content,#s1l2rank-content{
	overflow-y: auto; 
}

.fspPIC-x-c{
	width: 10px;
	height: 28px;
}

.fspPIC-x{
	width: 100%;
	height: 100%;
}

.carousel-indicators {
    bottom: -30px;
}